<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}
        
        {% block head %}
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}
        
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            {# <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script> #}
        {% endblock %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
        <link rel="icon" type="image/svg+xml" href="{{ asset('images/logo.svg') }}">
        
    </head>
    <body data-turbo="false" class="flex flex-col min-h-screen w-full cursor-default flex-col bg-blue-100 dark:bg-gray-200">
        {% include 'partials/_navbar7.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'partials/_footer.html.twig' %}
    </body>
</html>
