{% extends 'base.html.twig' %}

{% block title %}Error 403{% endblock %}

{% block body %}
    <main class="flex-grow flex items-center justify-center p-4 text-center ">
        <p class="bg-red-500 rounded-full border border-red-400 p-4">Accès refusé. Vous ne disposez pas des autorisations nécessaires pour accéder à cette page. Veuillez contacter l'administrateur si vous pensez qu'il s'agit d'une erreur.</p>
    </main>
{% endblock %}
